* {
  padding: 0;
  margin: 0;
}
@font-face {
  font-family: 'PlaywriteCU';
  src: url('/public/assets/fonts/PlaywriteCU-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  src: url('/public/assets/fonts/Montserrat-Regular.ttf') format('truetype');
}
:root {
  --background-color: rgba(44, 79, 187, 1);
  --orange: rgba(250, 182, 75, 1);
  --white: white;
  --chocolate: rgba(86, 66, 66, 1);
  --frame: rgba(30, 53, 116, 1);
}

body {
  background-color: var(--background-color);
}
main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
header.desk_mode {
  display: none;
}

header.mobile_mode nav menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  background-image: url(/public/assets/ilustraciones/mobile-tablón-madera.png);
  background-repeat: no-repeat;
  background-size: cover;
}

h1.mobile_mode {
  color: var(--chocolate);
  padding: 0;
  font-family: PlaywriteCU, Arial, Helvetica, sans-serif;
}
p {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
}

section.about_us {
  display: flex;
  flex-direction: column;
}
section.cards {
  display: flex;
 /*  flex-direction: row; */
  /* flex-wrap: wrap;
  justify-content: space-evenly; */
  transition: transform 0.5s ease-in-out;
}
section.about_us h2 {
  padding-bottom: 1em;
  font-family: PlaywriteCU, Arial, Helvetica, sans-serif;
}

article.card_profes {
  display: flex;
  flex-direction: row-reverse;
  background-color: var(--frame);
  border-radius: 15px;
  width: 100%;
  height: 216px;
  margin: 2em;
}

article.sobre_nosotros {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3em;
  background-color: white;
  width: 100;
}
article.nuestros_profes {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3em;
}
article.nuestros_profes h2 {
  color: var(--orange);
}
article.nuestros_profes p {
  color: var(--white);
}
h1 {
  color: var(--orange);
  padding-bottom: 1em;
  text-align: center;
}
h3 {
  color: var(--orange);
  font-family: Montserrat, Arial, Helvetica, sans-serif;
}
h1.desk_mode {
  display: none;
}

div.card_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
 
}
p.card_description {
  color: var(--white);
  overflow: hidden;
  word-wrap: break-word;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: 0.8em;
  width: 100%;
}
div.avatar:hover {
  scale: 1.1;
}
img#hamburger {
  padding-right: 2rem;
  color: var(--orange);
  width: 25px;
}
img.logo_mobile {
  padding-left: 1rem;
}
/* Estilos del menú desplegable */
.hidden {
  display: none;
}

#mobile-menu {
  flex-direction: column;
  list-style: none;
  background-color: var(--background-color);
  position: absolute;
  top: 50px;
  right: 0;
  width: 100%;
}

#mobile-menu li {
  padding: 10px;
  border-bottom: 1px solid var(--orange);
  text-align: center;
  font-family: PlaywriteCU, Arial, Helvetica, sans-serif;
}

#mobile-menu li a {
  color: var(--orange);
  text-decoration: none;
}

/* Estilos del slider */

#slider {
  width: 80%;
  margin: auto;
  overflow: hidden;
}
.slider_navigation {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  top: -1rem;
}

.nav_button {
  background-color: var(--orange);
  color: var(--white);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.nav_button:hover {
  background-color: var(--frame);
}

@media (min-width: 550px) and (max-width: 800px) {
  header.mobile_mode nav menu {
    min-height: 75px;
  }
}
nav {
  padding: 0;
}

@media (min-width: 800px) {
  article.card_profes {
    display: flex;
    flex-direction: row-reverse;
    background-color: rgba(30, 53, 116, 1);
    border-radius: 21px;
    width: 550px;
    height: 394px;
    margin: 2em;
  }
  div.avatar > img {
    width: 192px;
    height: 394px;
  }
  div.card_text {
    padding: 3rem;
    line-height: 1.3rem;
  }

  h3 {
    margin-bottom: 2rem;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
  }
  header.mobile_mode {
    display: none;
  }

  header.desk_mode {
    display: flex;
    flex-direction: row;
    padding-top: 1.5rem;
  }
  header.desk_mode > nav menu a {
    text-align: center;
    color: var(--chocolate);
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    padding: 0.5rem 0;
    font-family: PlaywriteCU, Arial, Helvetica, sans-serif;
  }
  header > a {
    padding: 0.7rem 0 0 2rem;
  }
  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-right: 7rem;
    /* padding-right: 7rem; */
  }
  menu {
    display: flex;
    justify-content: space-evenly;
    height: 54px;
    width: 624px;
    list-style: none;
    background-image: url(/public/assets/ilustraciones/Navbar\ tablón\ madera.png);
  }
  h1.desk_mode {
    display: block;
    color: var(--orange);
    padding-bottom: 1em;
    font-size: 2rem;
    text-align: center;
    font-family: PlaywriteCU, Arial, Helvetica, sans-serif;
  }
  section.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
